<article>
    <div class="article-content eng-feedback">
        <h3>{{title}}</h3>
        <p>{{breaklines feedback}}</p>
    </div>
    <div class="eng-rating">
        <a class="orange-btn download-link eng-stars" href="/feedback" onclick="GoToResource(@article.ContentId)"><img src="/images/stars-{{rating}}.png" alt="{{rating}} stars"></a>        
    </div>
</article>
