<article>
    <div class="article-content eng-feedback">
        <h3>Excellent pack</h3>
        <p>This pack provided everything we needed, with a great layout of information and clear instructions.</p>
    </div>
    <div class="eng-rating">
        <a class="orange-btn download-link eng-stars" href="/feedback" onclick="GoToResource(@article.ContentId)" target="_blank"><img src="/images/stars-25.png" alt="Rating"></a>        
    </div>
</article>
