<footer>
    <div class="social">
        <h3>Follow us..</h3>

        <a href="https://www.facebook.com/TomorrowsEngineers" target="_blank"><img src="/images/facebook.svg" alt="Follow us on Facebook"></a>
        <a href="https://twitter.com/Tomorrows_Eng" target="_blank"><img src="/images/twitter.svg" alt="Follow us on Twitter"></a>
        <a href="https://www.youtube.com/user/TomorrowsEngineers" target="_blank"><img src="/images/youtube.svg" alt="Follow us on YouTube"></a>
        <a href="https://www.instagram.com/tomorrowsengineers/" target="_blank"><img src="/images/instagram-logo.jpg" alt="Instagram"></a>    
    </div>
    {{!-- <p>&#169; Tomorrows Engineers 2018 All rights reserved.</p>
    <p><p><a href="/2018-is-the-year-of-engineering/"><img style="width: 250px; height: 100px; display: block; margin-left: auto; margin-right: auto;" src="http://www.engineeringuk.com/media/1551/footer-yoe-badge.jpg?width=250&amp;height=100" border="0" alt="" data-id="3393"></a></p></p>
    --}}
    <ul>
        <li>
            <a href="/privacy-policy/" target="_parent">Privacy Policy</a>
        </li>
        <li>
            <a href="https://www.engineeringuk.com/your-data" target="_blank">Your Data</a>
        </li>
        <li>
            <a href="/cookie-policy/" target="_blank">Cookie Policy</a>
        </li>
        <li>
            <a href="/terms/" target="_parent">Terms & Conditions</a>
        </li>
        <li>
            <a href="mailto:editor@tomorrowsengineers.org.uk?Subject=Website%20contact" target="_blank">Contact</a>
        </li>
    </ul>
</footer>
