<header>
    <div class="wrapper">
        <div class="eng-logobox">
            <span class="logo"><a href="/" >Learning Journeys</a></span>
        </div>
        <div class="sub-nav">
            <ul>
                <li id="g_search_li" style="float:left;position:relative;top:20px;margin: 0 18px 15px 20px;">
                    <form id="site_search_form" method="get" action="/search/" enctype="multipart/form-data">
                        <div>
                            
                            <input type="text" id="g_search" placeholder="Search.." onblur="resetSearch()"  />
                        </div>
                        <input type="hidden" id="search_q" name="search_q" value="" />
                    </form>
                </li>
                <li>
                    <a href="/login/" target="_parent">Login</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="header-rip"></div>
</header>
 