<!DOCTYPE html>
<html>
    <head>
        {{> head}}
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/js/detailCtrl.js"></script>
        <script src="/js/utilities.js"></script>
    </head>
    <body class="careers eng-careers">
        {{> header}}
        {{> resourcedetail}}
        {{> footer}}
    </body>
</html>