<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet" media="screen">
        <title>Engineering UK - {{pageTitle}}</title>
    </head>
    <body class="careers eng-careers">
        {{> header}}
        {{> articledetail}}
        {{> footer}}
    </body>
</html>