.login-form {
    width: 300px; 
    height: 300px; 
    margin: 100px auto;
}
.login-form input {
    font-size:1.125rem;
    margin: 5px;
    padding:3px;
}
.login-form > form > input {
    border: solid 2px #A0A0A0;
}

body.careers.eng-login .header-rip {
    background-image: url(/images/heading-rip-desk.png);
}
.eng-login #loginbutton {
    display:none;
}
